-myuxi
-Y
-a 0x0100
-v 0x0600
-w 0x8000
-z
-b HOME = 0x0000
-b XSEG = 0xf000
-b PSEG = 0xf000
-b ISEG = 0x0080
-b SSEG = 0x0080
-bBSEG=0x20
-bPSEG=0xF000
-k C:/DAVE-Bench-201\SDCC_XC800\lib\small
-k C:/DAVE-Bench-201\SDCC_XC800\bin\..\lib\small
-l xc800
-l libsdcc
-l libint
-l liblong
-l libfloat
./CAN.rel
./IO.rel
./MAIN.rel
./MemInitxc88x.rel
./SHARED_INT.rel
./T2.rel
./startupxc886.rel
-o ./can_example.hex

-e
